<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <!-- Partials is short for Partial Templates -->
    <%- include("./partials/nav.ejs") %>
    <% if (!user) { %>
      <div id="g_id_onload"
      data-client_id="383464635916-plu4djvsfgiie1h8srqq7caolc1b7pal.apps.googleusercontent.com"
      data-context="signin"
      data-login_uri="/login/auth/google"
      data-itp_support="true">
      </div>
    <% } %>
    
    <main class="index content">
      <div class="center-text">
        <h2>Welcome to Your Blogging site</h2>
        <h3>A place where Bloggers meet</h3>
      </div>

      <section class="blogs content">
        <h2>All Blogs</h2>

        <% if (blogs.length) { %>
          <% blogs.forEach(blog => { %>

        <a class="single" href="/blogs/<%= blog._id %>">
          <h3 class="title"><%= blog.title %></h3>
          <p class="snippet"><%= blog.snippet %></p>
          <% if (blog.author) { %>
          <p class="author">By: <%= blog.author.firstname %> <%= blog.author.lastname %></p>
          <% } %>
        </a>

          <% }); %> 
        <% } %> 
        <% if (!blogs.length) {%>
        <p>No blogs to display...</p>
        <% } %>
      </section>
    </main>

    <%- include('./partials/footer') %>

    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </body>
</html>
