<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <!-- Partials is short for Partial Templates -->
    <%- include("./partials/nav.ejs") %>
    
    <main class="index content">
      <div class="center-text">
        <h2>Welcome to Your Blogging site</h2>
        <h3>A place where Bloggers meet</h3>
      </div>

      <section class="blogs content">
        <h2>All Blogs</h2>

        <% if (blogs.length) { %>
          <% blogs.forEach(blog => { %>

        <a class="single" href="/blogs/<%= blog._id %>">
          <h3 class="title"><%= blog.title %></h3>
          <p class="snippet"><%= blog.snippet %></p>
          <% if (blog.author) { %>
          <p class="author">By: <%= blog.author.firstname %> <%= blog.author.lastname %></p>
          <% } %>
        </a>

          <% }); %> 
        <% } %> 
        <% if (!blogs.length) {%>
        <p>No blogs to display...</p>
        <% } %>
      </section>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
